<nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-3">
  <h1 class="navbar-brand text-uppercase">{{ title }} <small class="text-uppercase font-weight-lighter">Only the hottest anime movies!</small></h1>
</nav>
<ngb-carousel *ngIf="movieList">
  <ng-template ngbSlide *ngFor="let movie of movieList.items">
    <div class="picsum-img-wrapper">
      <img src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" class="d-block w-100" alt="{{movie.title}}">
    </div>
    <div class="carousel-caption">
      <h4 class="text-outline-black-2"><strong>{{movie.title}}</strong></h4>
      <p class="text-outline-black-1">Release date: {{movie.release_date}}</p>
    </div>
  </ng-template>
</ngb-carousel>
