<nav class="navbar navbar-light bg-light max-vw-50" [class.sticky]="sticky" #stickyNav>
  <a class="navbar-brand display-4" href="#banner">20 Most Popular</a>
  <mat-form-field>
    <mat-label>Year</mat-label>
    <mat-select [formControl]="filters" [(value)]="selected">
      <mat-option *ngFor="let filter of filterList" [value]="filter" (onSelectionChange)="onFilterChange($event)">{{filter}}</mat-option>
    </mat-select>
  </mat-form-field>
</nav>
<div class="row">
  <div class="col">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col pl-3 pr-3 pb-2" *ngFor="let movie of movies.results" matRipple [matRippleTrigger]="trigger">
        <div class="row text-dark">
          <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="movie.title">
          <div class="row clearfix">
            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                <mat-panel-title #trigger>
                  <div class="p-2">
                    <h4>
                      {{movie.title}}
                      <small>{{movie.original_title}}</small>
                      <div>
                        <span class="badge badge-danger" *ngIf="movie.popularity >= 15"> Smokin' Hot </span> 
                        <span *ngFor="let movieGenre of movie.genre_ids"> 
                          <span *ngFor="let genre of genres.genres"> 
                            <span class="badge badge-primary ml-1" *ngIf="movieGenre==genre.id && movieGenre!=16"> 
                              {{genre.name}} 
                            </span> 
                          </span>
                        </span>
                      </div>
                    </h4>
                  </div> <!-- card-title -->
                </mat-panel-title>
                <div class="float-right p-2">
                  <mat-panel-description>
                    <span class="badge badge-pill badge-success align-text-bottom"> 
                      <h1 class="p-1"> {{movie.vote_average}} </h1> 
                    </span>
                  </mat-panel-description>
                </div> <!-- float-right -->
              </mat-expansion-panel-header>
              <div class="pl-2 pr-2">
                <p><strong>Release date: {{movie.release_date}}</strong></p>
                <p>{{movie.overview}}</p>
              </div>
            </mat-expansion-panel>
          </div> <!-- card-body -->
        </div> <!-- card -->
      </div> <!-- let movie of movies.results -->
    </div>
  </div>
</div>