<div class="row">
  <div class="col">
    <div class="row">
      <h4>All-time Popular</h4>
    </div>

    <div class="row row-cols-1">
      <div class="col" *ngFor="let movie of movies.results">
        <div class="card text-dark">
          <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-title">
              <h4>
                
                {{movie.title}} 
                 
                <small>{{movie.original_title}}</small>
                <div *ngIf="movie.popularity >= 25">
                  <span class="badge badge-danger"> Smokin' Hot </span> 
                </div>
              </h4>
            </div>
            <div class="card-text">
              
              {{movie.overview}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>